<template>
    <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
            <p class="modal-card-title">Add Comment</p>
        </header>
        <section class="modal-card-body">
            <b-field label="Comment">
                <b-input
                    maxlength="500"
                    type="textarea"
                    v-model="params.comment"
                    id="commentBox">
                </b-input>
            </b-field>            
        </section>
        <footer class="modal-card-foot">
            <button
                class="button"
                type="button"
                @click="$parent.close()"
                id="closeRModal">
                Close
            </button>
            <button
                class="button is-primary"
                v-on:click="reject" 
                @click="$parent.close()"
                id="rejectReq">
                Reject
            </button>
        </footer>
    </div>
</template>

<script>
export default {
    name: "RejectModal",
    data() {
        return {
            params: {
                comment: undefined
            }
        }
    },
    methods:{
        reject: function() {
            this.$emit("rejectRequest", this.params)
        }
    }    
}
</script>

