<template>
<div>  
<table
    class="table is-table-bordered is-table-striped is-fullwidth"
    id="requestData">
    <thead>
        <tr>
            <th class="has-text-center">Name</th>
            <th class="has-text-center">Site Engineer Name</th>
            <th class="has-text-center">Name of Construction Site</th>
            <th class="has-text-center">Status</th>
            <th class="has-text-center">Total Cost</th>
            <th class="has-text-center">Comment</th>
            <th class="has-text-center">Start Date</th>
            <th class="has-text-center">End Date</th>
            <th class="has-text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="request in requests" :key="request.id" class="request">
            <td>{{request.entry.name}}</td>
            <td>{{request.nameOfSiteEngineer}}</td>
            <td>{{request.nameOfConstructionSite}}</td>
            <td>{{request.status}}</td>
            <td>{{request.totalCost}}</td>
            <td>{{request.comment}}</td>
            <td>{{request.rentalPeriod.startDate}}</td>
            <td>{{request.rentalPeriod.endDate}}</td>
            <button 
                v-if="request.status!='REJECTED' && request.status!='CANCELED'"
                class="button is-success is-small"
                @click="approve(request.id)"
                id="approve">
                Approve
            </button>
            <button
                v-if="request.status!='REJECTED' && request.status!='CANCELED'"
                class="button is-danger is-small"
                @click="showRejectModal(request.id)"
                id="reject">
                Reject
            </button>
            <button 
                v-if="request.status!='REJECTED' && request.status!='CANCELED'"
                class="button is-primary is-small"
                @click="showUpdateModal(request.id)"
                id="updateReq">
                Update
            </button>
            <b-modal :active.sync="isUpdateModalActive" has-modal-card>
                <update-modal @updateRequest="update"></update-modal>
            </b-modal>
            <b-modal :active.sync="isRejectModalActive" has-modal-card>
                <reject-modal @rejectRequest="reject"></reject-modal>
            </b-modal>                  
        </tr>
    </tbody>
</table>
</div>
</template>

<script>
import UpdateModal from "./UpdateModal.vue"
import RejectModal from "./RejectModal.vue"
export default {
    name: "RequestData",
    props: ["requests"],
    components: {
            UpdateModal,
            RejectModal
    },
    data() {
        return {
            isUpdateModalActive: false,
            isRejectModalActive: false,
            id: 0
        }
    }, 
    methods: {
        approve: function(id) {
            console.log("????????")
            this.$emit("approveRequest", id);
        },
        update: function(changes) {
            console.log(changes)
            this.$set(changes, "id", this.id)
            this.$emit("updateRequest", changes)
        },
        showUpdateModal: function(arg) {
            this.isUpdateModalActive = true,
            this.id = arg
        },
        showRejectModal: function(arg) {
            this.isRejectModalActive = true,
            this.id = arg
        },        
        reject: function(params) {
            this.$set(params, "id", this.id)
            this.$emit("rejectRequest", params)
        }
    }
}
</script>