<template>
    <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
            <p class="modal-card-title">Update Plant Hire Request</p>
        </header>
        <section class="modal-card-body">
            <b-field label="Site Engineer Name">
                <b-input
                    type="text"
                    v-model="changes.siteEngineerName"
                    placeholder="new Site Engineer Name"
                    id = "siteEngineer"
                    >
                </b-input>
            </b-field>
            <b-field label="Name of Construction Site">
                <b-input
                    type="text"
                    v-model="changes.constructionSiteName"
                    placeholder="new Construction Site Name"
                    id="constructionSite">
                </b-input>
            </b-field>
            <b-field label="Start date">
                <b-datepicker
                    placeholder="Click to select..."
                    icon="calendar-today"
                    v-model="changes.startDate"
                    type="text"
                    id="startDate">
                </b-datepicker>
            </b-field>
            <b-field label="End date">
                <b-datepicker
                    placeholder="Click to select..."
                    icon="calendar-today"
                    v-model="changes.endDate"
                    type="text"
                    id="endDate">
                </b-datepicker>
            </b-field>              
            <b-field label="Comment">
                <b-input
                    maxlength="500"
                    type="textarea"
                    v-model="changes.comment"
                    id="comment">
                </b-input>
            </b-field>                     
        </section>
        <footer class="modal-card-foot">
            <button class="button"
            type="button"
            @click="$parent.close()"
            id="closeUModal">
                Close
            </button>
            <button
                class="button is-primary"
                v-on:click="update"
                @click="$parent.close()"
                id="update">
                Update
            </button>
        </footer>
    </div>
</template>

<script>
export default {
    name: "UpdateModal",
    data() {
        return {
            changes: {
                siteEngineerName: undefined,
                constructionSiteName: undefined,
                comment: undefined //,
                // startDate: undefined,
                // endDate: undefined
            }
        }
    },
    methods:{
        update: function() {
            this.$emit("updateRequest", this.changes)
        }
    }    
}
</script>

