<template>
    <div> 
        <div>
            Review Requests
        </div>        
        <request-data
        :requests="submittedRequests"
        @updateRequest="handleRequestUpdate"
        @rejectRequest="handleRequestRejection"
        @approveRequest="handleRequestApproval"
        >
        </request-data>
    </div>
</template>

<script>
import RequestData from "./RequestData.vue";
import auth from '../auth/auth'

import axios from "axios";
import { isUndefined } from 'util';

export default {
    name: "WorksEngineer",
    components: {
        RequestData
    },
    data: function() {
        return {
            plants: [],
            token: auth.getAuthHeader().Authorization,

            request: {
                entryId: 0,
                entryName: undefined,
                nameOfSiteEngineer: undefined,
                nameOfConstructionSite: undefined,
                rentalPeriod: {}
            },
            submittedRequests: []
        }
    },
    methods:{
        getSubmittedHireRequestList: function() {
            axios.get("https://builditnative.herokuapp.com/api/procurements/plantHireRequests", {headers: {'Authorization': `Basic ${this.token}`}})
                .then(response => {
                    this.submittedRequests = response.data; 
                }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: 'Something went wrong with plant hire request update.'
                    });
                });
        },
    getPurchaseOrderList: function() {
      axios
        .get("https://rentitnative.herokuapp.com/api/sales/allOrders")
        .then(response => {
            // console.log("allorders", response.data)
          this.orders = response.data;
        })
        .catch(error => {
          console.log(error)
          this.$snackbar.open({
            type: "is-danger",
            message: "Something went wrong with retrieving plant orders."
          });
        });
    },        
        handleRequestApproval: function(id) {
            console.log("WHY 3", id)
            if(id) {
                // console.log(this.token)
                axios.post("https://builditnative.herokuapp.com/api/procurements/plantHireRequest/approve/" + id, {headers: {'Authorization': `Basic ${this.token}`}})
                .then(response => {
                    this.getSubmittedHireRequestList()
                }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: "Something went wrong with plant hire request approval."
                    });
                });                
            }
        },        
        handleRequestUpdate: function(changes) {
            this.getSubmittedHireRequestList()
            let request = this.getRequest(changes.id);
            let startDate = request.rentalPeriod.startDate
            let endDate = request.rentalPeriod.endDate
            if (changes.startDate != undefined) {
                startDate = changes.startDate.toLocaleDateString("lt-LT",{year:"numeric",month:"2-digit", day:"2-digit"});
            } else if (changes.endDate != undefined) {
                endDate = changes.endDate.toLocaleDateString("lt-LT",{year:"numeric",month:"2-digit", day:"2-digit"});
            }
            if(changes) {
                let body = {
                    comment: changes.comment,
                    nameOfConstructionSite: changes.constructionSiteName,
                    nameOfSiteEngineer: changes.siteEngineerName ,
                    rentalPeriod: {
                        endDate: endDate,
                        startDate: startDate
                    }
                }   
                axios.patch("https://builditnative.herokuapp.com/api/procurements/plantHireRequest/update/" + changes.id, body, {headers: {'Authorization': `Basic ${this.token}`}})
                .then(response => {
                    this.getSubmittedHireRequestList()
                }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: 'Something went wrong with plant hire request update.'
                    });
                });
            }
        },
        getRequest: function(id) {
            for (var i=0; i< this.submittedRequests.length; i++) {
                if (this.submittedRequests[i].id == id) {
                    return this.submittedRequests[i];
                }
            }
            
        },
        handleRequestRejection: function(params) {
            if (params) {
                let body = {
                    comment: params.comment
                }
                axios.patch("https://builditnative.herokuapp.com/api/procurements/plantHireRequest/reject/" + params.id, body, {headers: {'Authorization': `Basic ${this.token}`}})
                .then(response => {
                    this.getSubmittedHireRequestList()
                }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: 'Something went wrong with plant hire request rejection.'
                    });
                });
            }
        }
    },
    mounted: function() {
        this.getSubmittedHireRequestList()
        this.getPurchaseOrderList();
    },

}
</script>