<template>
    <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
            <p class="modal-card-title">plant hire Extension</p>
        </header>
        <section class="modal-card-body">   
            <b-field label="End date">
                <b-datepicker
                    placeholder="Click to select..."
                    icon="calendar-today"
                    v-model="params.extensionEndDate"
                    type="text"
                    id="endDate">
                </b-datepicker>
            </b-field>                     
        </section>
        <footer class="modal-card-foot">
            <button
                class="button"
                type="button"
                @click="$parent.close()"
                id="closeExtensionModal">
                Close
            </button>
            <button
                class="button is-primary"
                v-on:click="extend" 
                @click="$parent.close()"
                id="extendReq">
                Confirm
            </button>
        </footer>
    </div>
</template>

<script>
export default {
    name: "ExtensionModal",
    data() {
        return {
            params: {
                extensionEndDate: undefined,
                extStatus: undefined
            }
        }
    },
    methods:{
        extend: function() {
            this.$emit("extensionRequest", this.params)
        }
    }    
}
</script>

