<template>
    <div class="modal-card" style="width:auto">
        <header class="modal-card-head">
            <p class="modal-card-title">Approve Invoice</p>
        </header>
        <section class="modal-card-body">
            <table
            class="table is-table-bordered is-table-striped is-fullwidth"
            id="invoiceDetails">
            <thead>
                <tr>
                    <th class="has-text-center">Plant name</th>
                    <th class="has-text-center">Plant Description</th>
                    <th class="has-text-center">Start Date</th>
                    <th class="has-text-center">End Date</th>
                    <th class="has-text-center">Status</th>
                    <th class="has-text-center">Due Date</th>
                </tr>                
            </thead>
            <tbody>
                <tr>
                    <th>{{invoice.purchaseOrder.plant.name}}</th>
                    <th>{{invoice.purchaseOrder.plant.description}}</th>
                    <th>{{invoice.purchaseOrder.rentalPeriod.startDate}}</th>
                    <th>{{invoice.purchaseOrder.rentalPeriod.endDate}}</th>
                    <th>{{invoice.status}}</th>
                    <th>{{invoice.dueDate}}</th>
                </tr>                
            </tbody>
            </table>
        </section>
        <footer class="modal-card-foot">
            <button
                class="button"
                type="button"
                @click="$parent.close()"
                id="closeInModal">
                Close
            </button>
            <button
                class="button is-primary"
                v-on:click="approve" 
                @click="$parent.close()"
                id="approveInvoice">
                Approve
            </button>
        </footer>
    </div>
</template>

<script>
export default {
    name: "InvoiceModal",
    props: ["invoice"],
    methods:{
        approve: function() {
            console.log("invoice", this.$props.invoice)
            this.$emit("approveInvoice", this.$props.invoice.id);
        }
    }    
}
</script>

