<template>
<div>  
<table
    class="table is-table-bordered is-table-striped is-fullwidth"
    id="requestData">
    <thead>
        <tr>
            <th class="has-text-center">Name</th>
            <th class="has-text-center">Site Engineer Name</th>
            <th class="has-text-center">Name of Construction Site</th>
            <th class="has-text-center">Status</th>
            <th class="has-text-center">Total Cost</th>
            <th class="has-text-center">Comment</th>
            <th class="has-text-center">Start Date</th>
            <th class="has-text-center">End Date</th>
            <th class="has-text-center">Invoices</th>
            <th class="has-text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="request in requests" :key="request.id" class="request">
            <td>{{request.entry.name}}</td>
            <td>{{request.nameOfSiteEngineer}}</td>
            <td>{{request.nameOfConstructionSite}}</td>
            <td>{{request.status}}</td>
            <td>{{request.totalCost}}</td>
            <td>{{request.comment}}</td>
            <td>{{request.rentalPeriod.startDate}}</td>
            <td>{{request.rentalPeriod.endDate}}</td>
            <td>
                <div v-if="request.invoice!=undefined">
                    <button
                        class="button is-info is-small"
                        @click="showInvoiceModal(request, request.invoice)"
                        id="invoice">
                        Show Invoice
                    </button>                    
                </div>                
            </td>
            <div>
                <button
                    v-if="request.status!='REJECTED' && request.status!='CANCELED'"
                    class="button is-danger is-small"
                    @click="showCancelModal(request.id)"
                    id="cancel">
                    Cancel
                </button>
                <button 
                    v-if="request.status!='REJECTED' && request.status!='ACCEPTED' && request.status!='CANCELED'"
                    class="button is-primary is-small"
                    @click="showUpdateModal(request.id)"
                    id="updateReq">
                    Update
                </button>
                <button 
                    v-if="request.status!='REJECTED' && request.status!='CANCELED'"
                    class="button is-primary is-small"
                    @click="showExtensionModal(request.id)"
                    id="extensionReq">
                    Extend
                </button>                 
            </div>                     
            <b-modal :active.sync="isUpdateModalActive" :width="500">    
                <update-modal @updateRequest="update"></update-modal>
            </b-modal>
            <b-modal :active.sync="isCancelModalActive" has-modal-card>
                <cancel-modal @cancelRequest="cancel"></cancel-modal>
            </b-modal>
            <b-modal :active.sync="isExtensionModalActive" has-modal-card>
                <extension-modal @extensionRequest="extend"></extension-modal>
            </b-modal>
            <b-modal :active.sync="isInvoiceModalActive" :width="440" scroll="keep">    
                <invoice-modal :invoice="invoice" @approveInvoice="approve"></invoice-modal>
            </b-modal>                                      
        </tr>
    </tbody>
</table>
</div>
</template>

<script>
import UpdateModal from "./UpdateModal.vue"
import CancelModal from "./CancelModal.vue"
import ExtensionModal from "./ExtensionModal.vue"
import InvoiceModal from "./InvoiceModal.vue"

export default {
    name: "RequestData",
    props: ["requests"],
    components: {
            UpdateModal,
            CancelModal,
            ExtensionModal,
            InvoiceModal
    },
    data() {
        return {
            invoice: undefined,
            isUpdateModalActive: false,
            isCancelModalActive: false,
            isExtensionModalActive: false,
            isInvoiceModalActive: false,
            id: 0
        }
    }, 
    methods: {
        update: function(changes) {
            this.$set(changes, "id", this.id)
            this.$emit("updateRequest", changes)
        },
        showUpdateModal: function(arg) {
            this.isUpdateModalActive = true,
            this.id = arg
        },
        showCancelModal: function(arg) {
            this.isCancelModalActive = true,
            this.id = arg
        },
        showExtensionModal: function(arg) {
            this.isExtensionModalActive = true,
            this.id = arg
        },
        showInvoiceModal: function(request, invoice) {
            let dueDate = null;
            if (invoice != null) {
                dueDate = invoice.dueDate;
            }
            let pickedInvoice = {
                dueDate: dueDate,
                id: invoice.id,
                purchaseOrder: invoice.purchaseOrder,
                status: invoice.status
            }
            this.invoice = pickedInvoice, 
            this.isInvoiceModalActive = true,
            this.id = request.purchaseOrder.id
        },
        cancel: function(params) {
            this.$set(params, "id", this.id)
            this.$emit("cancelRequest", params)
        },
        extend: function(params) {
            this.$set(params, "id", this.id)
            this.$emit("extensionRequest", params)
        },
        approve: function(id) {
            // console.log("this.$props.requests", this.$props.requests)
            // console.log("this.$props.invoices", this.$props.invoices)
            // console.log("result", this.$props.result)
            this.$emit("approveInvoice", id)
        },        
    }
}
</script>