<template>
    <div> 
        <b-tabs type="is-toggle" expanded v-model="activeTab">
        <b-tab-item label="Query catalog">
            <catalog-query @submitCatalogQuery="handleCatalogQuery">
            </catalog-query>
        </b-tab-item>
        <b-tab-item label="Select plant">
            <query-result :plants="plants" @selectPlant="handlePlantSelection">
            </query-result>
        </b-tab-item>
        <b-tab-item label="Submit request">
            <request-form @submitRequest="handleRequestSubmission">
            </request-form>
        </b-tab-item>          
        <b-tab-item label="Review request">
            <request-data
            :requests="submittedRequests"
            :result="result"
            @updateRequest="handleRequestUpdate"
            @cancelRequest="handleRequestCancellation"
            @extensionRequest="handleRequestExtension"
            @approveInvoice="handleInvoiceApproval">
            </request-data>
        </b-tab-item>
    </b-tabs>
    </div>
</template>

<script>
import CatalogQuery from "../sales/CatalogQuery.vue";
import QueryResult from "../sales/QueryResult.vue";
import RequestData from "./RequestData.vue";
import RequestForm from "../sales/RequestForm.vue";
import auth from '../auth/auth.js'

import axios from "axios";
import { isUndefined } from 'util';

export default {
    name: "SiteEngineer",
    components: {
        CatalogQuery,
        QueryResult,
        RequestForm,
        RequestData
    },
    data: function() {
        return {
            activeTab: 0,
            plants: [],
            token: auth.getAuthHeader().Authorization,
            request: {
                entryId: 0,
                entryName: undefined,
                nameOfSiteEngineer: undefined,
                nameOfConstructionSite: undefined,
                rentalPeriod: {}
            },
            submittedRequests: [],
            invoices: [],
            result: []
        }
    },
    methods:{
        handleCatalogQuery: function(query) {
            if (query.name && query.startDate && query.endDate){
                let params = {
                    name: query.name,
                    startDate: query.startDate.toLocaleDateString("lt-LT",{year:"numeric",month:"2-digit", day:"2-digit"}),
                    endDate: query.endDate.toLocaleDateString("lt-LT",{year:"numeric",month:"2-digit", day:"2-digit"})
                }
                axios.get("https://builditnative.herokuapp.com/api/procurements/plants", {params: params})
                    .then(response => {
                        this.activeTab = 1;
                        this.plants = response.data;
                        this.request.rentalPeriod.startDate = params.startDate;
                        this.request.rentalPeriod.endDate = params.endDate;
                        }
                    )
                    .catch(e => {
                        this.activeTab = 1;
                    });
            }
        },
        handlePlantSelection: function(plant) {
            this.request.entryId = plant.id;
            this.request.entryName = plant.name;
            this.activeTab = 2;
        },
        handleRequestSubmission: function(nameOfSiteEngineer, nameOfConstructionSite) {
            if(nameOfSiteEngineer&&nameOfConstructionSite) {
                let body = {
                    entryId: this.request.entryId,
                    entryName: this.request.entryName,
                    nameOfSiteEngineer: nameOfSiteEngineer,
                    nameOfConstructionSite: nameOfConstructionSite,
                    rentalPeriod:{
                        startDate: this.request.rentalPeriod.startDate,
                        endDate: this.request.rentalPeriod.endDate
                    }
                }
                axios.post("https://builditnative.herokuapp.com/api/procurements/plantHireRequest/create", body, {headers: {'Authorization': `Basic ${this.token}`}})
                .then(response => {
                    this.request.nameOfSiteEngineer = nameOfSiteEngineer;
                    this.request.nameOfConstructionSite = nameOfConstructionSite;
                    this.$snackbar.open("Plant Hire Request submitted. Waiting for confirmation.");
                    this.getSubmittedHireRequestList();
                }).catch(error => {
                    console.log(error)
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: "Something went wrong with plant hire request submition."
                    });
                });
            }
        },
        getSubmittedHireRequestList: function() {
            axios.get("https://builditnative.herokuapp.com/api/procurements/plantHireRequests", {headers: {'Authorization': `Basic ${this.token}`}})
                .then(response => {
                    this.getPOId(response.data, this.invoices);
                }).catch(error => {
                    console.log(error)
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: 'Something went wrong with plant hire request.'
                    });
                });
        },
        getInvoices: function() {
            axios.get("https://builditnative.herokuapp.com/api/invoice")
            .then(response => {
                this.invoices = response.data;
            }).catch(error => {
                console.log(error);
                this.$snackbar.open({
                    type: 'is-danger',
                    message: 'Something went wrong with invoices'
                })
            })
        },
        handleRequestUpdate: function(changes) {
            if(changes) {
                let body = {
                    comment: changes.comment,
                    nameOfConstructionSite: changes.constructionSiteName,
                    nameOfSiteEngineer: changes.siteEngineerName
                }   
            axios.patch("https://builditnative.herokuapp.com/api/procurements/plantHireRequest/update/" + changes.id, body)
                .then(response => {
                    this.getSubmittedHireRequestList()
                }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: 'Something went wrong with plant hire request update.'
                    });
                });
            }
        },
        handleRequestCancellation: function(params) {
            if (params) {
                let body = {
                    comment: params.comment
                }
                axios.patch("https://builditnative.herokuapp.com/api/procurements/plantHireRequest/cancel/" + params.id, body)
                .then(response => {
                    this.getSubmittedHireRequestList()
                }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: 'Something went wrong with plant hire request cancellation.'
                    });
                });
            }
        },
        handleRequestExtension: function(params) {
            if (params) {
                let body = {
                        extensionEndDate: params.extensionEndDate.toLocaleDateString("lt-LT",{year:"numeric",month:"2-digit", day:"2-digit"}),
                        status: ""
                }
                axios.post("https://builditnative.herokuapp.com/api/procurements/plantHireRequest/requestExtension/" + params.id, body)
                .then(response => {
                    this.getSubmittedHireRequestList()
                }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: 'Something went wrong with plant hire request extension'
                    })
                })
            }
        },
        handleInvoiceApproval: function(id) {
                axios.post("https://builditnative.herokuapp.com/api/invoice/" + id)
                .then(response => {
                    if (response.status == "PAID") {
                        this.$snackbar.open("Invoice approved");                        
                    }
                }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: 'Something went wrong with invoice approval.'
                    });
                });            

        },
        getPOId: function(newrequests, invoices){
            let requests = newrequests;    
            for (var i = 0; i < requests.length; i++) {
                if (requests[i].po != null) {
                    const poId = requests[i].po._xlink.href.split("/").slice().pop()
                    this.$set(requests[i], "poId", poId)

                    for (var j = 0; j < invoices.length; j++) {
                        if (invoices[j].purchaseOrder.id == parseInt(requests[i].poId)) {
                            this.$set(requests[i], "invoice", invoices[j]);
                        }
                    }
                }                
            }
            this.submittedRequests = requests
        },        
        handleRequestRejection: function(params) {
            if (params) {
                let body = {
                    comment: params.comment
                }
                axios.patch("https://builditnative.herokuapp.com/api/procurements/plantHireRequest/reject/" + params.id, body)
                .then(response => {
                    this.getSubmittedHireRequestList()
                }).catch(error => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: 'Something went wrong with plant hire request rejection.'
                    });
                });
            }
        }        
    },
    mounted: function() {
        this.getSubmittedHireRequestList();
        this.getInvoices();
        this.submittedRequests.forEach((itm, i) => {
            this.result.push(Object.assign({}, itm, this.invoices[i]));
        })
    }
}
</script>