<template>
  <div class="home">
    <div>
      <router-link to="/logout">
        <h1><b>Logout</b></h1>
      </router-link>
      <br>
    </div>
  <div v-if="checkRoles(['ROLE_SITE_ENGINEER'])">
    <site-engineer></site-engineer>
  </div>
  <div v-if="checkRoles(['ROLE_WORKS_ENGINEER'])">
    <works-engineer></works-engineer>
  </div>
  </div>
</template>

<script>
import auth from '@/components/auth/auth.js';
import SiteEngineer from '../components/site_engineer/SiteEngineer.vue';
import WorksEngineer from "../components/works_engineer/WorksEngineer.vue";

export default {
  name: 'home',
  components: {
    SiteEngineer,
    WorksEngineer    
  },  
  methods: {
    checkRoles: function(roles) {
      return auth.hasAnyOf(roles);
    }
  }
}
</script>
