<template>
<div>
  <section>
    <b-field label="Site Engineer Name">
        <b-input
            v-model="nameOfSiteEngineer"
            type="text"
            id="siteEngineerName">
        </b-input>
    </b-field>
    <b-field
        label="Construction Site address">
        <b-input
            v-model="nameOfConstructionSite"
            type="text"
            id="constructionSiteName">
        </b-input>
    </b-field>
    <button
        class="button is-primary"
        v-on:click="submit"
        id="submitHReq">
            Submit Hire Request
    </button>
  </section>
</div>
</template>

<script>
export default {
    name: "RequestForm",
    data: function() {
        return {
            nameOfSiteEngineer: "",
            nameOfConstructionSite: ""
        }
    },
    methods: {
        submit: function() {
            this.$emit("submitRequest", this.nameOfSiteEngineer, this.nameOfConstructionSite);
        }
    }
}
</script>